.main-connect {
  width: 1312px;
  height: 350px;

  &_wrapper {
    width: 100%;
    background-image: url('../../../../assets/connect_back.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      padding-top: 104px;
      font-family: 'Spectral SC';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 43px;
      color: #424242;
      margin-bottom: 64px;
    }
  }

  &_form {
    display: flex;
    gap: 32px;
    .name-form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 195px;
      height: 50px;
      background: none;
      border: 1px solid #bdbdbd;
      border-radius: 46px;
      text-align: justify;
      &:hover {
        border: 1px solid #976464;
        color: #976464;
      }

      .form-input {
        border: none;
        outline: none;
        transition: 0.3s linear;
        background: none;
        margin-left: 32px;
        &::placeholder {
          color: #b2b2b2;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    .phone-form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 195px;
      height: 50px;
      background: none;
      border: 1px solid #bdbdbd;
      border-radius: 46px;
      text-align: justify;
      &:hover {
        border: 1px solid #976464;
        color: #976464;
      }

      .form-input {
        border: none;
        outline: none;
        transition: 0.3s linear;
        background: none;
        margin-left: 32px;
        &::placeholder {
          color: #b2b2b2;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      // padding-bottom: 64px;
      .form-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 45px;
        width: 195px;
        height: 50px;
        background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
        border-radius: 49px;
        border: none;
        font-family: 'Spectral SC', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        &_note {
          margin-top: 8px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140.2%;
          color: #525252;
        }

        &:hover {
          background: linear-gradient(102.48deg, #7b4646 -29.03%, #bf9191 97.75%);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2);
          border-radius: 428.797px;
          cursor: pointer;
        }
      }
    }
  }
}
